@model IEnumerable<BanQuanAo.Models.LOAI>
    <div class="dropdown col-12 col-md-6">
        <button class="btn btn-dark dropdown-toggle" type="button" id="dropdownMenuButton1"
                data-bs-toggle="dropdown" aria-expanded="false">
            Sản phẩm theo loại
        </button>
        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <li><a class="dropdown-item" href="@Url.Action("Index","SanPham")">Tất cả sản phẩm</a></li>
            @foreach (var item in Model)
            {
                <li><a class="dropdown-item" href="@Url.Action("SPTheoLoai","SanPham",new { id = item.MaLoai})">@item.TenLoai</a></li>
            }
        </ul>
    </div>