@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<section class="News">
    <section class="News__carousel">
        <img class="News__carousel__img" src="~/Public/images/News/banner.jpg" alt="">
        <div class="News__carousel__text">
            <h2>
                Cam kết về trãi nghiệm <br>
                mua sắm tại Coolmate
            </h2>
            <a href="#review__title">Xem thêm</a>
        </div>
    </section>

    <section class="review">
        <div class="container mb-5">
            <h2 class="text-center mt-5" id="review__title">Review của khách hàng và của KOLs</h2>
            <div class="row mt-3">
                <div class="col-12 col-md-6 text-center mt-5 text-center">
                    <p>Youtuber Nguyễn Hữu Trí review đánh giá box đồ Coolmate như thế nào?</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/rLwt2p3JGWk"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-6 text-center mt-5">
                    <p>Shark Bình mang "gió đông" giằng co quyết liệt với Startup Coolmate</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/ttcXp47r8Kg"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6 text-center mt-5">
                    <p>Review Quần Jean Coolmate - Cách Phối Đồ Nam</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/YSz2zGxSCL0"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-6 text-center mt-5">
                    <p>CÁCH MẠNG HÓA Cách Đàn Ông Mua Sắm</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/po2SXiiulow"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12 col-md-6 text-center mt-5">
                    <p>So sánh 2 BOX QUẦN ÁO nam bán cực chạy</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/67hxOWKjCsE"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
                <div class="col-12 col-md-6 text-center mt-5">
                    <p>Xây dựng Tủ Đồ CƠ BẢN cho NAM GIỚI cùng Coolmate</p>
                    <iframe width="100%" height="315" src="https://www.youtube.com/embed/JhDiHyIz8OM"
                            title="YouTube video player" frameborder="0"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                            allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
</section>>